{
  "bail": true,
  "color": true,
  "diff": true,
  "exit": true,
  "extension": [
    "spec.ts",
    "test.ts"
  ],
  "full-trace": true,
  "import": "tsx/esm",
  "recursive": true,
  "reporter": "spec",
  "require": "dotenv/config",
  "timeout": 30000
}
